.text-box {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.text-box > .text-box__picture {
  width: 100%;
}

.text-box > .text-box__link {
  position: static;
  margin-top: auto;
}

.text-box > .text-box__link > .btn {
  min-height: auto;
  padding: 10px 15px;
  width: auto;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
}

.section-main .section__bg--dark::before {
  z-index: 0;
}

.section-main .section__bg {
  z-index: 1;
}

.section-main .swiper-slide-description.container {
  position: relative;
  top: 75%;
  transform: translateY(-75%);
  font-size: 120%;
}

@media (min-width: 1350px) {
  .section-main .swiper-slide-description.container {
    font-size: 175%;
  }
}

.section-main .swiper-slide-description.container .header {
  position: static;
  font-weight: bold;
  font-size: 130%;
  display: inline-block;
  background: none;
}

.section-main .swiper-slide {
  position: relative;
}

.section-main .swiper-slide > img {
  position: absolute;
}

.section-main .section__bg.js-section-parallax {
  z-index: inherit;
}

.section-main__box {
  padding: 0;
  height: auto;
  align-items: end;
  z-index: 0;
  align-self: start;
  padding-top: 120px;
}

.section-main__box > img {
  margin: 0;
}

@media (max-width: 1210px) {
  .section-main__box {
    padding-right: 30px;
  }

  #mainGallery .swiper-slide-description.container {
    z-index: 1 !important;
    display: flex;
    padding: 25px 15px;
    position: absolute;
    flex-direction: column;
    font-size: 130%;
    height: fit-content;
    top: 85%;
  }

  #mainGallery .btn {
    min-width: 100%;
    margin-top: auto;
  }
}

#mainGallery .nav-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 24px;
  z-index: 5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-dots__bullet {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-shadow: inset 0 0 0 0 #cfe828;
  box-shadow: inset 0 0 0 0 #cfe828;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.nav-dots__bullet--active {
  -webkit-box-shadow: inset 0 0 0 4px #cfe828;
  box-shadow: inset 0 0 0 4px #cfe828;
}

.nav-dots__bullet--hidden {
  opacity: 0;
  visibility: hidden;
}

.nav-dots--clickable .nav-dots__bullet {
  cursor: pointer;
}

.nav-dots--clickable .nav-dots__bullet:hover:before {
  opacity: 1;
}

#mainGallery .nav-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mainGallery .nav-btn--next {
  right: 0;
}

#mainGallery .nav-btn--prev {
  left: 0;
}

.btn--white {
  color: #363636;
  background: #fff;
  transition: opacity 0.2s;
  opacity: 1;
}

.btn--white:hover {
  background: #fff;
  color: #363636;
  opacity: 0.8;
}

#mainGallery .btn {
  border-radius: 10px;
  padding: 15px;
}

.progress {
  position: relative;
  z-index: 1;
  display: block;
  bottom: 3px;
}

.progress > .progress-bar {
  width: 0;
  min-height: 3px;
  background: #8ec82f;
  display: block;
  transition: width 2s linear;
}
